<!-- THIS EQUALS TEACHER VIEW -->
   <header class="bluehead">
        
        
        <div class="upgradelogo">
            <img 
            height="80px"
            src="http://i.imgur.com/R5m3DUw.png"></img>
            
        </div>
        <span class="usersname">
            <span><h3>Lindsey Roman</h3></span>
            <span class="logout"><a ui-sref="login"><p><u>Log Out</u></p></a></span>
        </span>
        <nav class="universalnav">
            <ul>
                <li id="sgradebook"><a ui-sref="gradebook">Gradebook</a></li>
                <li><a ui-sref="transcripts">Transcripts</a></li>
                <li><a ui-sref="classes">Classes</a></li>
                <li><a ui-sref="teachers">Teachers</a></li>
            </ul>
        </nav>
    </header>
    <h1>Computer Programming</h1>
    <!-- class form-->
    
    <div class="container class_form" ng-repeat="form in forms">
        <!--<a ui-sref="" class="pull-right">Edit</a>-->
        <span>
            <h2 style="display:inline;"><b>Class Id:</b> {{ form._id }}</h2>
            
            <h2 style="display:inline; margin-left:4rem;">    <b>Teacher:</b> {{ form.teacher }}</h2>
        </span>
        <span style="display:block; margin-top:2rem;">
            <h2 style="display:inline;"><b>Course Description:</b> {{ form.description }}</h2>
            <h2><b>Number of Students:</b> {{ form.students }}</h2>
        </span>
    </div>
    <h1>Upcoming Assignments</h1>
    <div class="container">
        <!--<a ui-sref="" class="pull-right">Add an Assignment</a>-->
        <table class="table table-bordered">
            <tr>
                <!--<th></th>-->
                <th>Assignment Name</th>
                <th>Assignment Number</th>
                <th>Date Assigned</th>
            </tr>
            <tr ng-repeat="assignment in assignments">
                <!--<td><a ui-sref="">Edit</a> | <a ui-sref="">Remove</a></td>-->
                <td>{{ assignment.name }}</td>
                <td>{{ assignment.number }}</td>
                <td>{{ assignment.date }}</td>
            </tr>
            
        </table>
    </div>
    
