html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: aliceblue;
    padding-bottom:4rem;
    
}
.bluehead{
    background-color:#0C59CF;
    
    
    width: 100%;
    
    
}
.universalnav{
    text-align:right;
    font-size:20px;
}
.table{
    background-color:white;
    color:#444444;
    width:100%;
}
a{
    color:#444444;
}
.upgradelogo{
    
    margin-right:12rem;
    font-size: 36px;
    float: right;
    text-align:right;
    margin-bottom: 1rem;
    width:75%;
    
}
ul{
    margin-left:12rem;
    margin-right:12rem;
    padding:0;
    
}
li{
    background-color:aliceblue;
    display:inline;
    padding: .75rem;
    border-radius:5px;
}
h1{
    color:orangered;
    text-align:center;
}
h3{
    margin-top:0;
    margin-bottom: 0;
    margin-right: 5rem;
    background-color:#0C59CF;
    padding-top: 1rem;
    padding-left: 5rem;
}

.logout{
    display: block;
}
p{
    color:orangered;
    padding-left: 5rem;
    width:11rem;
}
.class_form{
    background-color:white;
    border:1px solid #444444;
    border-radius:5px;
    padding:2rem;
}
h2{
    color:#444444;
}
@media only screen and (max-width: 1033px) {
  .upgradelogo{
      width:70%;
  }
}
@media only screen and (max-width: 859px) {
  .upgradelogo{
      width:60%;
  }
}
@media only screen and (max-width: 689px) {
  li{
      font-size:18px;
  }
}
@media only screen and (max-width: 849px) {
  li{
      font-size:16px;
  }
  .upgradelogo{
      width:60%;
  }
}
@media only screen and (max-width: 657px) {
  .upgradelogo{
      width:50%;
  }
}
@media only screen and (max-width: 619px) {
  li{
      padding:.75rem;
  }
}
@media only screen and (max-width: 615px) {
  li{
      font-size:14px;
  }
}
@media only screen and (max-width: 587px) {
  ul{
      margin:0;
  }
  img{
      height:50px;
  }
  .upgradelogo{
      margin-right:1rem;
      width:20%;
  }
  h3{
      font-size:14px;
      margin:0;
  }
  
}
@media only screen and (max-width: 442px) {
  ul{
      text-align:left;
      float:left;
  }
  
}
@media only screen and (max-width: 346px) {
  ul{
    display:block;  
  }
  
}