html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: aliceblue;
    
}
.bluehead{
    background-color:#0C59CF;
    
    
    width: 100%;
    
    
}
.universalnav{
    text-align:right;
    font-size:20px;
}
.table{
    background-color:white;
    color:#444444;
    width:100%;
}
a{
    color:#444444;
}
.upgradelogo{
    
    margin-right:12rem;
    font-size: 36px;
    float: right;
    text-align:right;
    margin-bottom: 1rem;
    width:60%;
    
}
ul{
    margin-left:12rem;
    margin-right:12rem;
    padding:0;
    
}
li{
    background-color:aliceblue;
    display:inline;
    padding: .75rem;
    border-radius:5px;
}
h1{
    color:orangered;
    text-align:center;
}
h3{
    margin-top:0;
    margin-bottom: 0;
    margin-right: 5rem;
    background-color:#0C59CF;
    padding-top: 1rem;
    padding-left: 5rem;
}

.logout{
    display: block;
}
p{
    color:orangered;
    padding-left: 5rem;
    width:11rem;
}
.profile_form{
    background-color:white;
    border: 1px solid #444444;
    border-radius:5px;
}
.profile_photo{
    height:40px;
    width:40px;
    margin-left:2px;
    margin-bottom:2px;
}

.profile_classes{
    display:block;
}
.classes{
    display:block;
}
aside{
    display:inline;
}
article{
    background-color:white;
    border:1px solid #444444;
    border-radius:5px;
    width:45%;
}
.main_container{
    margin: 0 auto;
}
.container{
    margin-bottom:2rem;
}